@font-face {
    font-family: "74Regular";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/74Regular.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "37Extrabold";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/37Extrabold.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "46Bold";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/46Bold.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "73Book";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/73Book.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "75Medium";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/75Medium.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "85Medium";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/85Medium.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "73BookItalic";
    font-weight: 300;
    font-style: italic;
    src: url("/fonts/73BookItalic.otf") format("truetype");
    font-display: swap;
}