@use '@/assets/styles/abstracts/' as *;

.marquee {
    width: 100%;
    overflow: hidden;

    &__container {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        background: $honey;
    }

    &__track {
        display: flex;
        align-items: baseline;
        padding: 0 40rem;
        gap: 40rem;
        position: absolute;
        background: $honey;
        height: 256rem;
        left: 0;
        top: calc(50% - 256rem / 2);
        width: max-content;

        &:last-child {
            padding-right: 40rem;
        }
    }

    &__text {
        font-family: '37Extrabold';
        @include font(304, 800, 256);
        text-transform: uppercase;
        color: $carbon;
        white-space: nowrap;
    }

    &__image {
        width: 240rem;
        height: 240rem;
        position: relative;
        overflow: hidden;

        &:nth-child(2) {
            width: 240rem;
            height: 240rem;
        }

        &:nth-child(3) {
            width: 274rem;
            height: 224rem;
            border-radius: 24rem;
        }
    }

    &__description {
        position: absolute;
        width: 368rem;
        left: 168rem;
        top: 692rem;
        font-family: '73Book';
        @include font(16, 300, 24);
        letter-spacing: -0.4rem;
        color: rgba($carbon, 0.6);
    }

    &__qr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 4rem 12rem;
        gap: 7rem;
        position: absolute;
        width: 136rem;
        height: 183rem;
        left: 493.93rem;
        top: 235.23rem;
        background: #077133;
        border-radius: 16rem;
        transform: rotate(-15deg);

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12rem;
            gap: 8rem;
            width: 128rem;
            height: 128rem;
            background: $white;
            border-radius: 12rem 12rem 4rem 4rem;
        }

        &__image {
            width: 104rem;
            height: 104rem;
            background-blend-mode: multiply;
            position: relative;
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 4rem;
            gap: 8rem;
            width: 128rem;
            height: 32rem;
            font-family: "74Regular";
            @include font(12, 400, 16);

            text-align: center;
            background: radial-gradient(39.06% 104.69% at 37.11% 26.56%, #59E700 0%, $white 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    @media screen and (max-width: 700px) {
        &__container {
            height: auto;
            overflow-x: initial;
            padding: 96rem 20rem;
            position: static;
        }

        &__track {
            display: block;
            padding: 0rem;
            position: initial;
            height: auto;
            left: initial;
            top: initial;
            width: 100%;

            &:last-child {
                padding-right: 20rem;
            }
        }

        &__text {
            @include font(104, 800, 96);
            white-space: normal;
            display: inline;
        }

        &__image {
            width: 96rem;
            height: 96rem;
            display: inline-flex;
            vertical-align: top;
            margin-left: 8rem;

            &:nth-child(2) {
                width: 96rem;
                height: 96rem;
            }

            &:nth-child(3) {
                width: 118rem;
                height: 96rem;
                border-radius: 12rem;
            }
        }

        &__description {
            position: initial;
            width: 100%;
            padding-top: 40rem;
        }

        &__qr {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 4rem 4rem 12rem;
            gap: 7rem;
            position: absolute;
            width: 136rem;
            height: 183rem;
            left: 493.93rem;
            top: 235.23rem;
            background: #077133;
            border-radius: 16rem;
            transform: rotate(-15deg);

            &__wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 12rem;
                gap: 8rem;
                width: 128rem;
                height: 128rem;
                background: $white;
                border-radius: 12rem 12rem 4rem 4rem;
            }

            &__image {
                width: 104rem;
                height: 104rem;
                background-blend-mode: multiply;
                position: relative;
            }

            &__text {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 4rem;
                gap: 8rem;
                width: 128rem;
                height: 32rem;
                font-family: "74Regular";
                @include font(12, 400, 16);

                text-align: center;
                background: radial-gradient(39.06% 104.69% at 37.11% 26.56%, #59E700 0%, $white 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }
}