// Color variables
$white: #FFFFFF;
$black: #000000;
$carbon: #191919;
$graphite: #232323;
$ash: #363636;
$honey: #FFCC66;
$snow: #F5F5F5;
$fog: #E4E4E4;
$ocean: #108299;
$lavender: #EDE9FE;
$violet: #7C3AED;